name: extreme_fire
description: "A gaming app named Extreme fire which is a game similar to free fire but advanced and realistic with an online action packed and a multi battle and multiplayer game"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
